@using ISSControlProje.Models.Entity;
@model ISSControlProje.Models.Entity.tblMusteriler
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_PanelStyle.cshtml";
    iss_webEntities db = new iss_webEntities();
}


<h2>Müşteri Düzenle</h2>
<br />
<form method="POST" action="/Musteri/Guncelle/" class="form-group-sm">
    <input type="hidden" name="musteriId" value="@Model.musteriId" />
    <div class="form-group row">
        <label for="musteriTC" class="col-sm-2 col-form-label col-form-label-sm">TC Kimlik No</label>
        <div class="col-sm-10">
            <input maxlength="11" required type="text" class="form-control form-control-sm" id="musteriTC" name="musteriTC" value="@Model.musteriTc">
        </div>
    </div>
    <div class="form-group row">
        <label for="musteriAD" class="col-sm-2 col-form-label col-form-label-sm">Ad Soyad</label>
        <div class="col-sm-10">
            <input  maxlength="45" required type="text" class="form-control form-control-sm" id="musteriAD" name="musteriAd" value="@Model.musteriAd">
        </div>
    </div>
    <div class="form-group row">
        <label for="musteriTEL" class="col-sm-2 col-form-label col-form-label-sm">Telefon</label>
        <div class="col-sm-10">
            <input  maxlength="15" required type="tel" class="form-control form-control-sm" id="musteriTEL" name="musteriTelefon" value="@Model.musteriTelefon">
        </div>
    </div>
    <div class="form-group">
        <label for="musteriPaket">Müşteriye Tanımlanacak İnternet Paketi</label>
        <select required class="form-control" name="musteriPaket" id="musteriPaket">
            @foreach (var paket in db.tblPaketler)
            {
                <option @(paket.paketId == Model.musteriPaket ? "selected" : "") value="@paket.paketId">@paket.paketAd</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="musteriADRES">Adres</label>
        <input maxlength="80" required type="text" class="form-control" id="musteriADRES" name="musteriAdres" value="@Model.musteriAdres">
    </div>
    <input type="submit" name="guncelle" value="MÜŞTERİ GÜNCELLE" class="btn btn-success formGonder" />
</form>
